.sidebar {
  color: $white;
  position: absolute;
  top: 7rem;
  left: 3.1rem;
  border-radius: 6px;
  z-index: 1;

  .hamburger {
    position: absolute;
    visibility: hidden;
    padding: 10px 10px 2px 10px;
    top: -4rem;
    left: 4.1rem;
    cursor: pointer;
    border-radius: 6px;
    background-color: #31313a;
    &:hover {
      color: #ff6600;
      svg {
        transform: scale(1.2);
      }
    }
  }
  .show {
    width: 100px;
    height: 65vh;
    .links {
      height: 100%;
      display: grid;
      background-color: #31313a;
      border-radius: 10px;
      .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          border-top: 1px solid #9b3e00;
        }
        a {
          display: flex;
          flex-direction: column;
          color: $white;
          svg {
            margin: 5px auto;
          }
          &:hover {
            color: #ff6600;
          }
        }
        .active {
          color: #ff6600;
        }
      }
    }
  }
}
