.portfolio {
  .portfolioContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "1"
      "2";
  }
  .radioDisplay {
    grid-area: 1;
    border-radius: 25px;
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: #50505c;
    user-select: none;

    li {
      color: $white;
      font-size: 0.7rem;
      text-transform: uppercase;
      padding: 0 1rem;
      flex: 1;

      input[type="radio"] {
        visibility: hidden;
        position: relative;
        &::before {
          content: "";
          visibility: visible;
          position: absolute;
          top: -4px;
          left: -12px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          border: 2px solid #ff6600;
          cursor: pointer;
          transition: 0.3s;
        }
        &::after {
          content: "";
          visibility: visible;
          position: absolute;
          top: -4px;
          left: -12px;
          height: 0.9rem;
          width: 0.9rem;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.3s;
          background: #ff6600;
          transform: scale(0);
          transform-origin: center;
        }
      }
      input:checked:after {
        transform: scale(1.15) translate(-25%, -25%);
        top: 2px;
        left: -6px;
      }
      label {
        cursor: pointer;
      }
    }
  }

  .projects {
    grid-area: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .project {
      background: #50505c;
      border-radius: 25px;
      margin: 0.5rem 0 0 0;
      text-align: center;
      width: 32%;
      max-height: 50%;
      padding: 0.3rem;
      box-shadow: 0 1px 3px #333;
    }
    .icons {
      grid-area: 1;
      display: flex;
      justify-content: center;
      margin-bottom: 0.7rem;
      i {
        font-size: 1.4rem;
        padding: 0 0.35rem;
        text-shadow: 0 0 1px #ff6600;
      }
    }
    h3 {
      grid-area: 2;
      font-size: 1.65rem;
      justify-content: left;
    }
    img {
      grid-area: 3;
      object-fit: cover;
      margin: 0 auto;
      width: 100%;
      height: 55%;
      box-shadow: 0 2px 6px #333;
      border-radius: 25px;
      cursor: pointer;
    }
    .infos {
      grid-area: 4;
      cursor: pointer;
      font-size: 1.5rem;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .showInfos {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      animation: popup 0.3s ease forwards;
      transform-origin: center;

      .infosContent {
        position: relative;
        top: 25%;
        width: 600px;
        margin: 0 auto;
        background: gray;
        border-radius: 25px;
        padding: 2rem;
        box-shadow: 0 10px 10px #333;
        animation: popup 0.6s ease forwards;
        transform: scale(0);
        transform-origin: center;

        @keyframes popup {
          to {
            transform: scale(1);
          }
        }
      }
      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
      }
      h2 {
        text-align: left;
        margin-bottom: 1rem;
      }
      .button {
        border-radius: 25px;
        padding: 1rem;
        color: $white;
        background: #31313a;
        transition: 0.2s;
        &:hover {
          background: #ff6600;
        }
      }
      .text {
        text-align: justify;
        padding-bottom: 1rem;
      }
      .return {
        margin: 1rem auto;
        width: 200px;
      }
    }
  }
  @media screen and(max-width:750px) {
    .portfolioContent {
      display: flex;
      margin-top: 20px;
    }
    .radioDisplay {
      flex-direction: column;
      width: 12rem;
      padding: 1.2rem;
      height: 12rem;
      margin-right: 1rem;
      li {
        padding: 5px 0;
        flex: 0;
      }
    }

    .projects {
      flex-direction: column;
      width: auto;
      .project {
        min-width: 200px;
      }
    }
  }
  @media screen and(max-width:500px) {
    .portfolio {
      padding: 0;
    }
    .portfolioContent {
      display: block;
      margin-top: 20px;
    }
    input[type="radio"] {
      margin-left: 15px;
      margin-bottom: 5px;
    }
    .radioDisplay {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      min-width: 250px;
      height: 70px;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
      }
    }
    .projects {
      width: 70%;
      margin: 0 auto;
    }
  }
}
