.profile-container {
  height: 83vh;
  min-width: 351px;
  background: linear-gradient(180deg, transparent 25%, rgb(49, 49, 59) 50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  box-shadow: -21px -20px 0px -4px rgba(33, 33, 37, 0.75);
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: url(../assets/fond.jpg) no-repeat center/cover !important;
    z-index: -1;
    filter: brightness(70%);
  }

  .info {
    text-align: center;
    margin-top: 5rem;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 1rem;
      filter: drop-shadow(0 0 50px rgb(0, 0, 0));
    }
    .details {
      color: $white;

      h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      p {
        color: #ff6600;
        font-size: 1.1rem;
        margin: 1.5rem 0;
      }

      a {
        color: $white;
      }

      .social-media {
        margin-left: -0.4rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
        font-size: 0.9rem;
        cursor: pointer;
        transition: 1s all ease-in;
      }
      .social-media svg:hover {
        color: #ff6600;
        transform: scale(1.4);
      }
    }
  }
  .profile-bottom {
    position: absolute;
    bottom: 0.45rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid #474751;
    padding-top: 10px;
    span {
      width: 1px;
      height: 2.45rem;
      top: 0;
      position: absolute;
      background-color: #474751;
    }
    a {
      color: $white;
      text-transform: uppercase;
      font-size: 0.9rem;

      &:hover {
        color: #ff6600;
      }
    }
  }
}
